@page "/"
@inject NavigationManager NavManager

<PageTitle>Login</PageTitle>

<h1>Scan this QR-Code to login!</h1>
<div class="container">
    <img src="qr.png" style="height: 200px;" />

    <a href="/rate" class="btn btn-primary">Login</a>
</div>