@page "/rate"

<PageTitle>Rate</PageTitle>

<h3>Rate your class</h3>

<select class="form-select w-auto mt-5" name="Emoji">
    <option value="">Emoji</option>
    <option value="1">:)</option>
    <option value="2">:(</option>
    <option value="3">:O</option>
    <option value="4">>:(</option>
    <option value="5">:/</option>
    <option value="6">:,(</option>
</select>
<button class="btn btn-primary mt-2">Rate</button>

@code {
}
