@page "/rating"

<PageTitle>Rating</PageTitle>

<h1>Rate your Professor!</h1>
<select name="Emoji">
    <option value="">Emoji</option>
    <option value="1">:)</option>
    <option value="2">:(</option>
    <option value="3">:O</option>
    <option value="4">>:(</option>
    <option value="5">:/</option>
    <option value="6">:,(</option>
</select>
<button>Rate</button>
